
   /* *,:after,:before {
    box-sizing:border-box
   } */


   /* removing margin for all the listed items */
  /* figure,h1,h2,h3,h4,h5,h6,hgroup,html,li,p,span,ul {
    margin:0;
    padding:0
   } */

   div {
      margin: 0;
      padding: 0;
   }
   figcaption {
      margin: 0;
      padding: 0;
      display: block;
   }
   
   figcaption,figure,footer,header,hgroup,section {
    display:block
   }

   /* Changed the font size of all the heading */
   h1,h2,h3,h4,h5,h6 {
    font-size:100%
    
   }
   a {
    text-decoration:none;
    margin: 0;
    padding: 0;
   }

   img {
    border:none;
    font-style:italic;
    margin: 0;
    padding: 0;
   }

   /* styled the body, added background color, font-family, font size e.t.c */

   body {
    background-color:#0a0a0a;
    border-top:13px solid #3a3a3a;
    color:#ccc;
    font-family: 'Vollkorn', sans-serif;
    font-size:20px;
    line-height:1.5;
    padding:40px;
    text-align:center;
    margin: 0;
    padding: 50px;
    border-top: 13px solid #3a3a3a;
   }
   @media (min-width:768px) {
    body {
     padding:56px
    }
   }
   ::-moz-selection {
    background:#a8d1ff;
    color:#fff;
    text-shadow:none
   }
   ::selection {
    background:#a8d1ff;
    color:#fff;
    text-shadow:none
   }

   /* Changed color of linked words */
   a {
    color:#ff3;
    transition:color .2s ease
   }
   /* Color changes to some sort of grey after hovering */
   a:hover {
    color:#666
   }
   a:active,a:focus {
    color:rgba(255,255,51,.19999999999999996)
   }

   /* Hovering when you go on images */
   a>img {
    //:hidden;
    transition:opacity .3s linear
   }
   a>img:hover {
    opacity:.65
   }
   .container {
    margin:0 auto;
    max-width:1240px
   }
   h1,h2 {
    color:#fff;
    font-size:47px;
    font-weight:700

   }
   h3 {
    font-weight:400
    
   }
   .heyy {
    color:#fff;
    display:inline-block;
    font-size:47px;
    font-weight:700
   }

   /* reduces the font size, font weight e.t.c of the first paragraph */
   .head {
    color:#ccc;
    font-size:32px;
    font-weight:400;
    line-height:1.3;
    padding:0 32px
   }
  
   ul {
    margin-left:16px
   }
   /* emoves buttons on footer list and 0 margin as well as padding */
   .u-list-unstyled {
    list-style:none;
    margin-left:0;
    padding-left:0
   }

   /* email, github and instagram are now inline */
   .u-list-inline {
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    display:flex;
    justify-content:flex-start
   }

   /* Added spaces to github, instagram and email */
   .u-list-inline li+li {
    margin-left:24px
   }
   @media (min-width:480px) {
    .grid__container {
     overflow:auto
    }
    .grid-item {
     float:left;
     width:50%
    }
   }
   /* Media queries */

   @supports (grid-area:auto) {
    @media (min-width:480px) {
     .grid {
      display:-ms-grid;
      display:grid;
      grid-gap:24px
     }
     .grid-photography,.grid-projects {
      -ms-grid-columns:(1fr)[2];
      grid-template-columns:repeat(2,1fr)
     }

     /* Music lists inline using grids */
     .grid-music {
      -ms-grid-columns:(1fr)[4];
      grid-template-columns:repeat(4,1fr)
     }
     .grid-item {
      float:none;
      width:auto
     }

     /* Photograph images next to each other besides middle one */
     .grid_span .grid-item:nth-child(3) {
      -ms-grid-column-span:2;
      -ms-grid-column:1;
      grid-column:1/span 2
     }
    }
    /* Selected work images inline and well structure */
    @media (min-width:992px) {
     .grid-projects {
      -ms-grid-columns:(1fr)[3];
      grid-template-columns:repeat(3,1fr)
     }
    }
   }
   @media (max-width:479px) {
    .grid-item {
     margin-bottom:16px;
     width:100%
    }
   }
   img {
    display:block;
    height:auto;
    max-width:100%
   }

   /* Baby face now has border radius */
   .u-img-rounded {
    border-radius:50%
   }
   .u-super {
    margin-bottom:8px
   }
   .header {
    border-bottom:3px double #666;
    margin-bottom:48px;
    padding-bottom:48px;
    text-align:center;
    padding: 0;
    margin: 0;
   }

   /* Added line breaks to seperate sections */
   @media (min-width:480px) {
    .header {
     margin-bottom:56px;
     padding-bottom:72px
    }
   }

   /* baby face positioning to middle */
   .header__avatar {
    height:120px;
    margin:0 auto 8px;
    width:120px
   }
   .header__hello {
    margin-bottom:-4px
   }
   section {
    border-bottom:1px solid #666;
    margin-bottom:48px;
    padding-bottom:48px;
    padding: 0;
    margin: 0;
   }
   @media (min-width:480px) {
    section {
     margin-bottom:56px;
     padding-bottom:72px
    }
   }
   .section__title {
    line-height:1.2em;
    margin-bottom:24px
   }
   @media (min-width:480px) {
    .section__title {
     line-height:inherit;
     margin-bottom:16px
    }
   }
   .figure__supernail {
    margin:0 auto
   }
   .work-info {
    text-align:left
   }
   .work-info__item {
    font-size:24px;
    line-height:1.3
   }
   .work-info__item:last-child {
    margin-bottom:0
   }
   @media (max-width:767px) {
    .work-info__item {
     margin-left:0;
     padding-left:0
    }
   }
   .work-info__super img {
    height:100%;
    width:100%
   }
   .work-info__content {
    margin-bottom:8px
   }
   @media (max-width:767px) {
    .work-info__title a:after {
     content:"\00bb";
     display:inline-block;
     height:16px;
     padding-left:4px;
     width:16px
    }
   }
   .work-info__about {
    font-size:16px;
    line-height:1.35em;
    margin-bottom:4px
   }
   .work-info__role {
    color:#9e9e9e;
    font-family:Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size:10px;
    font-weight:500;
    letter-spacing:1px;
    text-transform:uppercase
   }
   .work-info__title {
    font-size:24px;
    margin-bottom:4px
   }
   @media (min-width:768px) {
    .work-info__role,.work-info__title {
     padding-right:4px
    }
   }
   @media (min-width:768px) {
    .footer {
     display:flex;
     padding-top:10px;
     margin: 0;
     padding: 0;
    }
   }
   .footer__copyright {
    display:flex
   }
   @media (min-width:768px) {
    .footer__copyright {
     align-items:flex-end;
     justify-content:flex-end;
     flex:1 1 0%
    }
   }
   @media (max-width:767px) {
    .footer__copyright,.footer__list {
     -ms-flex-pack:center;
     justify-content:center
    }
   }
   